# local | pubsub (default: local)
EVENT_TRANSPORT=local

# Local Listener Mode
LISTENER_MAX_RETRIES=3
LISTENER_RETRY_BASE_MS=200

# PubSub Mode
GOOGLE_CLOUD_PROJECT=your-project-name
PUBSUB_TOPIC_USER_CREATED=topic-name
PUBSUB_PUSH_TOKEN=<shared-secret-to-validate-push>

FIREBASE_PROJECT_ID=replace-with-your-project-id
FIRESTORE_EMULATOR_HOST=localhost:8080